.header-container {
  width: 100%;
  top: 0;
  overflow: hidden;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  z-index: 2;
  box-shadow: 0 0 2px 2px rgb(194, 192, 192);
}

a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

img {
  max-width: 200px;
  z-index: 1;
}
.side-nav-btn {
  width: 100%;
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  align-items: center;
  width: 100%;
}
::ng-deep .specific-class > .mat-expansion-indicator:after,
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #be212f;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header {
  font-size: small;
  padding-bottom: 10px;
  line-height: 1.2;
  height: fit-content;
  width: 100%;
}
.mat-expansion-panel-header-description.mat-expanded,
.mat-expansion-panel-header-description {
  font-size: small;
  line-height: 1.5;
}

mat-expansion-panel,
mat-expansion-panel-header {
  margin-top: 5px;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* window-size 0 */
@media only screen and (max-width: 200px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  img {
    width: 80%;
    margin-left: 5%;
  }
}
/* window-size 1 */
@media only screen and (min-width: 201px) {
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img {
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* window-size 2 */
@media only screen and (min-width: 481px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }
}
/* window-size 3 */
@media only screen and (min-width: 769px) {
  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header-nav {
    margin-right: 20px;
  }
  img {
    margin-left: 15%;
  }
}
/* window-size 4 */
@media only screen and (min-width: 1301px) {
  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header-nav {
    margin-right: 20px;
  }
}
