.exp-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.exp-page-headline {
  margin-top: 5%;
  text-align: center;
  line-height: 1.5;
  font-size: medium;
  max-width: 900px;
}
.exp-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* window-size 0 */
@media only screen and (max-width: 200px) {
  .exp-list-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* window-size 1 */
@media only screen and (min-width: 201px) {
  .exp-list-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .exp-page-headline {
    line-height: 2;
    font-size: large;
  }
}
/* window-size 2 */
@media only screen and (min-width: 481px) {
}
/* window-size 3 */
@media only screen and (min-width: 769px) {
  .exp-list-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    justify-items: center;
  }
}
/* window-size 4 */
@media only screen and (min-width: 1301px) {
}
