<div class="partners-page-container">
  <app-page-header
    [pic]="'/assets/pageHeaders/partners2.jpg'"
    [title]="'Our partners'"
  >
  </app-page-header>
  <div class="partners-main-container">
    <p class="partners-page-headline">
      <span class="red"> BioGenCell </span>
      has started developing a worldwide strategic partner network dedicated to
      developing and improving patient access to its groundbreaking technology
      and products.
    </p>

    <div class="partners-list">
      <div class="partner">
        <img src="/assets/partners/laniado.png" alt="" />
        <div class="partner-text">
          <p>
            The <span class="red">BioGenCell</span> team has a very close
            working relationship with the hospital’s expert medical team members
            including Dr. Mark Niven (Director of the Endocrine and Diabetes
            Unit), Dr. Galit Sivak (Director of Vascular Surgery) and Dr. Shlomo
            Bulvic (Head of the Haematology Department).
          </p>
          <p>
            Sanz Medical Center – Laniado Hospital offers its services to over
            250,000 people through its various departments and out-patient
            clinics, including internal medicine, ophthalmology, pediatrics,
            surgery, ENT, intensive care, gynecology, dialysis, hematology,
            gastroenterology, oncology, angiography, and orthopedics. The
            medical center uses the most modern methods: its instruments,
            equipment, and expert staff have given the Sanz Medical Center its
            reputation as one of the leading hospitals in Israel.
          </p>
          <p>
            Laniado Hospital’s motto: “The hospital will aid every person, and
            this aid will not be technical assistance alone—it will come from
            the heart. In this hospital, the staff will work as professionals
            without forgetting the most important aspects of compassion, warmth,
            and empathy for the patient.
          </p>
        </div>
      </div>

      <div class="partner">
        <img src="/assets/partners/dgo.png" alt="" />
        <div class="partner-text">
          <p>
            DG06:The Directorate General Operational for Economy, Employment and
            Research (DGO6), belonging to the Public Service of Wallonia (SPW),
            is the legal regional administration in charge of implementing and
            controlling aids granted to industries, academia and research
            centers for economic policy, employment and training, and research,
            including European research Programmes. It is the key advisory body
            for the Regional government authorities involving research and
            innovation policy. <span class="red">BioGenCell</span> has been
            granted a grant for over 1 million Euros which, beyond the
            scientific validation and prestige, allows us to embark upon
            preclinical trials on three new therapeutic indications in order to
            help suffering patients worldwide.
          </p>
        </div>
      </div>

      <div class="partner">
        <img src="/assets/partners/wbc.png" alt="" />
        <div class="partner-text">
          <p>
            WBC– incubator: WBC’s mission is to help set up and develop
            innovative, competitive and sustainable companies in the field of
            life sciences and biotechnology in Wallonia. The WBC team helps
            organize and build science, technology and industrial projects using
            its own financial resources for implementation. It has a network of
            experts and partners in the public and private sectors which it
            makes available to beneficiaries.
            <span class="red">BioGenCell</span> works in collaboration with WBC
            and has been granted a number of grants to enable its personalized
            program to develop in the Wallonia region.
          </p>
        </div>
      </div>

      <div class="partner">
        <img src="/assets/partners/lexlitis.png" alt="" />
        <div class="partner-text">
          <p>
            In memory of our dear friend, judge and advocate Mr. Armand Broder
            who was a great supporter and believer in
            <span class="red">BioGenCell</span> and did above and beyond the
            call of duty to bring <span class="red">BioGenCell</span>’s
            disruptive technology to the millions of ‘No Option’ patients in
            need of treatment worldwide.
          </p>
          <p>
            Lexlitis Brussels is a multilingual firm committed to the global
            practice of law, situated at the south of Brussels. Its lawyers
            combine a broad experience of the Bar – some of them from more than
            20 years – and a professional expertise.
          </p>
          <p>
            The legal staff also includes several stand-in magistrates, an
            insolvency practitioner, and several provisional receivers.
          </p>
        </div>
      </div>

      <div class="partner">
        <img src="/assets/partners/newcastle.png" alt="" />
        <div class="partner-text">
          <p>
            <span class="red">BioGenCell</span> has joined forces with Newcastle
            University Institute of Cellular Medicine, Institute for Cell and
            Molecular Bioscience and North East England Stem Cell Institute
            together with the Laniado diabetes center in Israel, for research on
            a new regenerative medicine. Both parties have embarked on a
            collaborative venture, bringing together different cell therapies
            that are currently pioneered in both countries towards a simple and
            persuasive new combination therapeutic of donor-derived pancreatic
            islets and patient’s own endothelial progenitor cells.
          </p>
          <p>
            Together, Prof. Shaw, Professor of Regenerative Medicine for
            Diabetes and Honorary Consultant Physician, Institute of Cellular
            Medicine, Institute for Cell and Molecular Bioscience and North East
            England Stem Cell Institute and Dr. Niven, Director of Endocrine and
            Diabetes Unit at Laniado Hospital, Israel, are generating a new
            concept for potentially transforming islet transplant clinical
            outcomes and are excited about the results of their first joint
            research grant. The purpose is to produce a novel donor human islet:
            recipient enriched endothelial progenitor cell combination therapy
            which will enable rapid reestablishment of a healthy blood supply
            for the insulin-producing cells after transplantation into the
            liver.
          </p>
          <p>
            Preliminary research results show that bringing together experts in
            islet transplant innovations from Newcastle University, and
            <span class="red">BioGenCell</span>’s novel patient specific
            blood-derived therapeutic stem/progenitor cells has real potential
            for clinical implementation of an entirely new therapeutic
            combination, perhaps even in the very near future.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
