<div class="layout-container">
  <app-header
    [isDrawerOpen]="isDrawerOpen"
    [sidenav]="sidenav"
    [windowSize]="windowSize"
  ></app-header>
  <div class="main-layout-container display-nav">
    <div class="drawer-container">
      <mat-sidenav-container
        class="example-container display-nav"
        [hasBackdrop]="false"
        autosize
      >
        <mat-sidenav #sidenav mode="side">
          <app-menu-links></app-menu-links>
        </mat-sidenav>
        <mat-sidenav-content>
          <!-- <button *ngIf="!isDrawerOpen" mat-raised-button (click)="openDrawer()">
            <mat-icon color="primary">menu</mat-icon>
        </button>
        <button *ngIf="isDrawerOpen" mat-raised-button (click)="closeDrawer()">
            Toggle drawer
        </button> -->
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
