<div class="page-footer-container">
  <div class="footer-container">
    <div class="upper-footer">
      <div class="footer-links-group">
        <img src="/assets/logo-white.png" />
        <p class="footer-text">
          <span class="red">BioGenCell</span>’s mission is to develop its
          innovative technology platform enabling the rapid creation of
          easy-to-use, patient friendly and cost-effective treatments for a wide
          range of degenerative, life threatening vascular diseases, using
          highly standardised therapies derived from adult stem cells
        </p>
      </div>
      <div class="footer-links-group">
        <p class="red">ABOUT</p>
        <button mat-button routerLink="/company">Company</button>
        <button mat-button routerLink="/management">Management</button>
        <button mat-button routerLink="/board">Board Of Directors</button>
        <button mat-button routerLink="/experts">Expert Advisors</button>
        <button mat-button routerLink="/partners">Partners</button>
      </div>
      <div class="footer-links-group">
        <p class="red">TECHNOLOGY</p>
        <button mat-button routerLink="/solution">Our Solution</button>
        <button mat-button routerLink="/stem-cells">Stem Cells</button>
      </div>
      <div class="footer-links-group">
        <p class="red">MEDIA & NEWS</p>
        <button mat-button routerLink="/media">Media</button>
        <button mat-button routerLink="/news">News</button>
      </div>
    </div>
    <div class="lower-footer">
      <!-- <span>© 2018 All rights reserved</span> -->
      <div class="social-menu text-center mb-0">
        <ul class="justify-content-center mb-0">
          <li>
            <a
              href="https://www.linkedin.com/company/biogencell-ltd/"
              target="_blank"
            >
              <img src="/assets/icons/linkedin.png" />
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/www.BioGenCell.net"
              target="_blank"
            >
              <img src="/assets/icons/facebook.png" />
            </a>
          </li>

          <li>
            <a
              href="https://www.youtube.com/watch?v=Ini6mckniDw"
              target="_blank"
            >
              <img src="/assets/icons/youtube.png" />
            </a>
          </li>
          <li>
            <a href="mailto:info@biogencell.net" target="_top">
              <img src="/assets/icons/email.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
