.mobile-nav-container,
mat-accordion,
::ng-deep .mat-expansion-panel-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min-content;
}
.mobile-nav-container {
  margin-top: 10px;
  margin-right: -10px;
}

::ng-deep .mat-expansion-panel-body {
  margin-top: -10px;
  margin-bottom: -5px;
}
mat-panel-title {
  width: max-content;
}
/* a {
  margin-right: 30px;
} */

::ng-deep .specific-class > .mat-expansion-indicator:after,
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #be212f;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header {
  font-size: small;
  padding-bottom: 10px;
  /* line-height: 1.2; */
  height: fit-content;
  width: min-content;
}
.mat-expansion-panel-header-description.mat-expanded,
.mat-expansion-panel-header-description {
  font-size: small;
  /* line-height: 1.5; */
}

mat-expansion-panel,
mat-expansion-panel-header {
  margin-left: -3px;
  margin-top: -5px;
  margin-bottom: -5px;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.panel-title {
  font-weight: 600;
}

/* window-size 0 */
@media only screen and (max-width: 200px) {
  ::ng-deep .mat-expansion-panel-body {
    margin-left: -20px;
  }
}
/* window-size 1 */
@media only screen and (min-width: 201px) {
  img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
