<div class="company-page-container">
  <app-page-header [pic]="'/assets/pageHeaders/laniado.jpg'"></app-page-header>
  <div class="company-container">
    <p class="company-page-headline">
      <span class="red">
        TRACT (Tissue Regenerative Activated Cell Therapy)
      </span>
      is the only technology that provides safe and efficient specialized cells
      within a day in every clinic while being both patient and clinician
      friendly.
    </p>
    <p class="company-page-headline">
      <span class="red"> BioGenCell </span>
      was founded with the vision of developing safe, effective, and
      long-lasting effective treatment for incurable, blood vessel diseases that
      will be both accessible and patient friendly.
      <br />
      Our disruptive TRACT technology platform provides a comprehensive approach
      for rapid manufacturing and commercialization of cell-therapies.
    </p>
    <br />
    <!--  -->
    <p class="arrowed-text">
      <img src="/assets/clockLogo.jpg" alt="" />
      <span class="red red-title"> Who are we?</span>
    </p>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        BioGenCell is a clinical stage company providing treatment for incurable
        patients suffering from life threatening degenerative diseases.
      </p>
    </div>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        Our multinational company is led by multidisciplinary key opinion
        leaders creating together economic, therapeutic solutions based on
        fast-track commercialization programs.
      </p>
      <!-- <span routerLink="/management">Read more</span> -->
    </div>

    <!--  -->
    <p class="arrowed-text">
      <img src="/assets/clockLogo.jpg" alt="" />
      <span class="red red-title"> What do we do?</span>
    </p>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        BioGenCell brings you the new era of Personalized Stem Cell Therapy in
        every clinic worldwide via a simple standard blood draw.
      </p>
    </div>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        Our proprietary technology TRACT (Tissue Regenerative Activated Cell
        Therapy) is based on an unprecedented combination of the power of
        immunology and stem cell therapy providing personalized regenerative
        treatment for damaged tissues.
      </p>
      <!-- <span routerLink="/solution">Read more</span> -->
    </div>

    <!--  -->
    <p class="arrowed-text">
      <img src="/assets/clockLogo.jpg" alt="" />
      <span class="red red-title"> How do we do it?</span>
    </p>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        We make it simple! A nurse takes a standard blood draw from your arm and
        you are called the following day to receive the treatment by your
        doctor. No need for any pre-treatment, sophisticated machinery or
        operations.
      </p>
    </div>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        BioGenCell’s products are manufactured from blood cells selected and
        cultured to create specific therapeutic cells provided to clinicians in
        ready to use syringes. TRACT is the only technology that provides
        lineage specific cells in a rapid process that takes less than one day.
      </p>
      <!-- <span routerLink="/solution">Read more</span> -->
    </div>

    <!--  -->
    <p class="arrowed-text">
      <img src="/assets/clockLogo.jpg" alt="" />
      <span class="red red-title"> Who do we treat?</span>
    </p>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        BioGenCell’s first patients are people suffering from severe peripheral
        blood disease who have tried all other available options without success
        and are now at risk of limb amputation.
      </p>
    </div>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        Our first line of products is designed to treat life-threatening blood
        vessel diseases typical of diabetes complication, smoking and
        arthrosclerosis. Results from our first study on severe Critical Limb
        Ischemia (CLI) patients who have exhausted all possible treatments
        revealed an excellent safety profile and long-term therapeutic effects
        more than 3.5 years after a single treatment. link to clinical trials
      </p>
    </div>

    <!--  -->
    <p class="arrowed-text">
      <img src="/assets/clockLogo.jpg" alt="" />
      <span class="red red-title"> What are we planning?</span>
    </p>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        In parallel to treating patient suffering from severe peripheral blood
        disease, BioGenCell is planning to treat a variety of additional severe
        blood vessel diseases in patients suffering from diabetes complications,
        heart failure, stroke, and blindness.
      </p>
    </div>

    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        BioGenCell’s innovative solutions have an immense market potential since
        they can regenerate function of damaged tissues even after many years of
        suffering. We plan to leverage our proprietary TRACT solutions for a
        wide range of life-threatening vascular diseases via a fully automated
        system thus enabling rapid commercialization and mass production of
        personalized cell therapy products.
      </p>
    </div>

    <!--  -->
    <p class="arrowed-text">
      <img src="/assets/clockLogo.jpg" alt="" />
      <span class="red red-title"> Why choose BioGenCell?</span>
    </p>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        Our unprecedented technology brings mass production heights to
        personalized therapies for vascular diseases.
      </p>
    </div>

    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        This first in-kind technology uses a simple blood draw to provide the
        lineage-specific cells within a day in every clinic.
      </p>
    </div>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        Our unique technology platform TRACT enables us to target a wide range
        of blood vessel degenerative diseases, including heart failure, stroke,
        blindness, cancer and immunological diseases.
      </p>
    </div>
    <div>
      <p class="arrowed-text">
        <mat-icon>play_arrow</mat-icon>
        BioGenCell’s multi-national and multi-disciplinary team leverage its
        unique expertise to rapidly develop a series of products to treat
        numerous life-threatening vascular diseases.
      </p>
    </div>
  </div>
</div>
