.company-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.company-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 900px;
  font-size: medium;
}
.company-page-headline {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
  line-height: 1.5;
  max-width: 900px;
}
.arrowed-text {
  display: flex;
  flex-direction: row;
}
mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 5px;
  margin-top: 10px;
}

img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 3px;
  margin-top: 1px;
}

/* window-size 0 */
@media only screen and (max-width: 200px) {
}
/* window-size 1 */
@media only screen and (min-width: 201px) {
  .company-page-headline {
    line-height: 2;
    font-size: large;
  }
  .red-title {
    font-size: large;
  }
}
/* window-size 2 */
@media only screen and (min-width: 481px) {
}
/* window-size 3 */
@media only screen and (min-width: 769px) {
}
/* window-size 4 */
@media only screen and (min-width: 1301px) {
}
