<div class="solution-page-container">
  <app-page-header
    [pic]="'/assets/pageHeaders/solution.jpg'"
    [title]="'Our solution'"
  >
  </app-page-header>
  <div class="solution-container">
    <p class="solution-page-headline">
      <span class="red"> BioGenCell</span>
      ’s patented technology platform provides a comprehensive solution for most
      aspects of cellular therapy. It supports both rapid manufacturing and
      long-term storage (bio-banking) of therapeutic cellular products, which
      can be used to treat the patient (autologous) or other patients
      (allogeneous) in order to regenerate damaged tissues in diabetes, heart
      failure, stroke, peripheral vascular disease including critical limb
      ischemia, blindness, cancer and a range of immunological diseases
    </p>
    <p class="solution-page-headline">
      <span class="red"> BioGenCell</span>’s lead product line BGC10X implements
      the company’s technology for treating blood vessel insufficiency that
      causes multiple organ failure in the elderly and diabetic patient
      populations. BGC101 is manufactured from stem cells and culture components
      extracted from the patient’s own blood and is composed of a significant
      number of highly viable cells targeted at blood vessel regeneration
      (endothelial progenitor cells), as well as cells that can self-adjust
      according to specific needs for the purpose of tissue regeneration
      (multi-potent adult stem/progenitor cells).
    </p>
    <p class="solution-page-headline underline">
      <span class="red"> BioGenCell</span>’s platform, process and products
      provide numerous advantages over existing stem cell therapies:
    </p>
    <div class="checks">
      <div class="check">
        <mat-icon color="primary">done</mat-icon>
        <p>
          A single administration is sufficient to achieve a long-lasting
          therapeutic effect
        </p>
      </div>
      <div class="check">
        <mat-icon color="primary">done</mat-icon>
        <p>
          The stem-cell extraction process is quick, safe and cost-effective
        </p>
      </div>
      <div class="check">
        <mat-icon color="primary">done</mat-icon>
        <p>
          Blood is obtained using routine collection methods (no anesthesia,
          surgery or drug pre-treatment)
        </p>
      </div>
      <div class="check">
        <mat-icon color="primary">done</mat-icon>
        <p>
          No side effects or risk of immunological rejection are anticipated (as
          an autologous product)
        </p>
      </div>
    </div>
    <!-- <div class="img"> -->
    <img src="/assets/illustrations/solution.png" alt="" />
    <!-- </div> -->
  </div>
</div>
