.contact-us-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.contact-us-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
p {
  margin-top: 20px;
  text-align: center;
}
span {
  display: block;

  font-weight: 500;
  color: #be212f;
}
img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  max-width: 350px;
}

a:link {
  color: black;
  /* text-decoration: none; */
}

a:visited {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
  color: #be212f;
}

a:active {
  text-decoration: none;
  color: #be212f;
}
/* window-size 0 */
@media only screen and (max-width: 200px) {
  .contact-us-container {
    font-size: small;
  }
}
/* window-size 1 */
@media only screen and (min-width: 201px) {
  .contact-us-container {
    font-size: medium;
  }
}
/* window-size 2 */
@media only screen and (min-width: 481px) {
  .contact-us-container {
    font-size: large;
  }
}
