<nav class="nav-menu">
  <a mat-button color="primary" routerLink="/home" (click)="closeDrawer()"
    >Home</a
  >
  <button mat-button color="primary" [matMenuTriggerFor]="about">About</button>
  <mat-menu #about="matMenu" [overlapTrigger]="false">
    <button mat-menu-item routerLink="/company" (click)="closeDrawer()">
      Company
    </button>
    <button mat-menu-item routerLink="/management" (click)="closeDrawer()">
      Management
    </button>
    <button mat-menu-item routerLink="/board" (click)="closeDrawer()">
      Board Of Directors
    </button>
    <button mat-menu-item routerLink="/experts" (click)="closeDrawer()">
      Expert Advisors
    </button>
    <button mat-menu-item routerLink="/partners" (click)="closeDrawer()">
      Partners
    </button>
  </mat-menu>

  <button mat-button color="primary" [matMenuTriggerFor]="technology">
    Technology
  </button>
  <mat-menu #technology="matMenu">
    <button mat-menu-item routerLink="/solution" (click)="closeDrawer()">
      Our Solution
    </button>
    <button mat-menu-item routerLink="/stem-cells" (click)="closeDrawer()">
      Stem Cells
    </button>
  </mat-menu>

  <button mat-button color="primary" [matMenuTriggerFor]="mediaNews">
    Media & News
  </button>
  <mat-menu #mediaNews="matMenu">
    <button mat-menu-item routerLink="/media" (click)="closeDrawer()">
      Media
    </button>
    <button mat-menu-item routerLink="/news" (click)="closeDrawer()">
      News
    </button>
  </mat-menu>

  <a mat-button color="primary" routerLink="/contact-us" (click)="closeDrawer()"
    >Contact Us</a
  >
</nav>
